/* toolbar.component.css */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}
    
.logo img {
    height: 40px; /* Ajuste la taille du logo selon tes besoins */
}

.icons i {
    margin-left: 20px;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: -100%; /* Masque le menu au départ */
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    transition: top 0.3s ease;
}

.menu.open {
    top: 0; /* Fait apparaître le menu */
    height: 100%;
}

.menu-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu-content {
    text-align: center;
}

.menu-icons {
    margin-left: auto;
    cursor: pointer;
}