<!-- toolbar.component.html -->
<div class="toolbar">
    <img src="logo.png" alt="Logo" />
    <div class="icons">
        <i class="fas fa-home icon"></i>
        <i class="fas fa-user icon"></i>
        <i class="fas fa-bars icon" (click)="toggleMenu()"></i>
    </div>
</div>
  
<div class="menu" [class.open]="isMenuOpen">
    <div class="menu-toolbar">
        <img src="logo.png" alt="Logo" />
        <div class="menu-icons">
            <i class="fas fa-times icon" style="color: #333" (click)="toggleMenu()"></i>
        </div>
    </div>
    <div class="menu-content">
        <ul style="list-style-type:none">
            <li><a class="menu-item" routerLink="/" routerLinkActive="active" (click)="toggleMenu()">Accueil</a></li>
            <li><a class="menu-item" routerLink="/team-page" routerLinkActive="active" (click)="toggleMenu()">Équipe</a></li>
            <li><a class="menu-item" routerLink="/" routerLinkActive="active" (click)="toggleMenu()">Option 3</a></li>
        </ul>
    </div>
</div>
  